@model QuizFormsApp.Models.Template

@{
    ViewData["Title"] = "Create Template";
}

<h2>Create New Template</h2>

<form asp-controller="Template" asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input asp-for="Title" class="form-control" required />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Is Public?</label>
        <input asp-for="IsPublic" type="checkbox" class="form-check-input" id="publicCheckbox" />
    </div>
    <div class="mb-3">
    <label class="form-label">Select Users (for private templates)</label>
    <input type="text" id="userSearch" class="form-control" placeholder="Search users by name or email..." />
    <ul id="userList" class="list-group mt-2"></ul>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
