@model QuizFormsApp.Models.Template

@{
    ViewData["Title"] = $"Fill {Model.Title}";
}

<h2>Fill Out: @Model.Title</h2>

<form asp-action="SubmitForm" method="post">
    <input type="hidden" name="templateId" value="@Model.Id" />

    @foreach (var question in Model.Questions.OrderBy(q => q.OrderIndex))
    {
        <div class="mb-3">
            <label class="form-label">@question.Text</label>

            @if (question.Type == QuestionType.SingleLineText)
            {
                <input type="text" name="answers[@question.Id]" class="form-control" required />
            }
            else if (question.Type == QuestionType.MultiLineText)
            {
                <textarea name="answers[@question.Id]" class="form-control"></textarea>
            }
            else if (question.Type == QuestionType.Integer)
            {
                <input type="number" name="answers[@question.Id]" class="form-control" required />
            }
            else if (question.Type == QuestionType.Checkbox)
            {
                <input type="checkbox" name="answers[@question.Id]" class="form-check-input" />
            }
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
